<table align="center" >
    <tr>
        <th>Equipo</th>
        <th>ID Jugador</th>
        <th>Nombre</th>
        <th>Dorsal</th>
        <th>Salario</th>
        <th>Vender</th>
    </tr>
{{#each teams}}
<tr>
    <th>{{this.TeamName}}</th>
    <th>{{this.PlayerID}}</th>
    <th>{{this.Lastname}}</th>
    <th>{{this.Number}}</th>
    <th>{{this.Salary}}</th>
    <th><button onclick="sell({{this.PlayerID}}, {{this.Salary}});">x</button></th>
</tr>
{{/each}}
</table>